/* styling our header */
.header {
    border: 2px red solid;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
    
}

.header h1 {
    font-size: 2rem;
    color: var(--text-primary);
}

.location {
    border: 2px green solid;
    width: 25%;
    max-width: 200px;
    height: 50px;
    border-radius: 10px;
}

.search {
    border: 2px blue solid;
    width: 60%;
    max-width: 450px;
    height: 50px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.theme {
    border: 2px purple solid;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}




/* making it responsive */
@media (max-width: 768px) {
    .header {
        gap: 15px;
    }
}