.hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100vw;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 25px;
    padding-bottom: 150px;
}



.hero h1 {
    font-size: 3rem;
    color: var(--text-primary);

}

.weather {
    /* border: 2px orange solid; */
    border-radius: 10px;
    height: 410px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 2200px;
    margin-left: auto;
    margin-right: auto;
}

.chanceOfRain {
    /* border: 2px white solid; */
    border-radius: 10px;
    height: 300px;
    width: 300px;
    max-width: 300px;
}

.chanceOfRainTitle {
    font-size: 1rem;
    color: var(--text-primary);
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-weight: 600;
}

.chanceOfRainChart {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    display: flex;
}



.titleHeader {
    font-size: 1.2rem;
    color: var(--text-primary);
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.title7Days:hover {
    color: var(--text-secondary-hover);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.ForecastContainer {
    display: flex;
    height: 450px;
    flex-direction: row;
}




.ForecastCardTodayContainer {
    width: 20%;
}

.ForecastCardWeekContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}





@media (max-width: 550px) {
    .ForecastContainer {
        flex-direction: column;
        width: 100%;
    }
    .ForecastCardTodayContainer {
        width: 100%;
        height: 250px;
    }

    .ForecastCardWeekContainer {
        flex-direction: column;
        margin-left: 100px;
    }  
    .weather {
        height: 100vh;
    }
    .ForecastContainer {
        height: 100vh;
    }

    .chanceOfRainChart {
        display: none;
    }
    
}






/*
 making it responsive 
    when the screen size is less than 768px
*/
@media (max-width: 768px) {
    .hero {
        gap: 15px;
    }
}