/* styling our header */
.header {
    border: 2px red solid;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    padding: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: space-between;
    gap: 30px;
}


.header h1 {
    font-size: 2rem;
    color: var(--text-primary);
}

.location {
    border: 2px green solid;
    width: 25%;
    max-width: 200px;
    height: 50px;
    border-radius: 10px;
}

.search {
    border: 2px blue solid;
    width: 100%;
    /* max-width: 450px; */
    height: 50px;
    border-radius: 10px;
}

.innerWrapperTheme {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px yellow solid;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.theme {
    border: 2px purple solid;
    width: 385px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    justify-content: flex-end;
    display: flex;
}




/* making it responsive */
@media (max-width: 768px) {
    .header {
        gap: 15px;
    }
}